.banner {

    margin: 55px 0 25px 0;
    border-radius: 10px;
    width: 100%;
    height: 111px;

    &__title {
        position: relative;
        margin: 31px 102px 32px 10px;
        width: 217px;
        height: 48px;
        bottom: 100%;
        font-family: $police;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        /* or 24px */
        color: $color-font2;
        z-index: 999;
        
        
    }
    

    &__masque {
        background-color: $color-bg3;
        border-radius: 10px;
        width: 100%;
        height: 111px;
        filter: brightness(1);
        
        img{
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 111px;
        background-repeat: no-repeat;
        object-fit: cover;
        opacity: 0.75;
        }
    
    }

}

/****************Desktop Version*********************/

@media screen and (min-width:992px){

    .banner {
        
        height: 323px;
        
        
    
        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom:400px;
            right: 280px;
            margin: 78px 262px 77px 273px;
            width: 100%;
            height: 100%;
            font-family: $police;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            
            color: $color-font2;
        
            
            
        }
        
    
        &__masque {
            background-color: $color-bg3;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            filter: brightness(1);
            
            img{
            position: relative;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            object-fit: cover;
            opacity: 0.75;
            }
        
        }
    
    }






}