.banner {

    margin: 20px 0 25px 0;
    @include w100h111r10;

    &__title {
        position: relative;
        margin: 31px 102px 32px 10px;
        width: 50%;
        height: 48px;
        bottom: 100%;
        font-family: $police;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        /* or 24px */
        color: $color-font2;
        z-index: 999;
        
        
    }
    

    &__masque {
        background-color: $color-bg2;
        @include w100h111r10;
        filter: brightness(1);
        
        img{
        position: relative;
        @include w100h111r10;
        background-repeat: no-repeat;
        object-fit: cover;
        opacity: 0.75;
        }
    
    }

}

/****************Desktop Version*********************/

@media screen and (min-width:768px){

    .banner {
        margin-top: 60px;
        height: 323px;
        width: 100%;
        
        
    
        &__title {
            border: green solid 4px;
            @include flexCC;
            position: relative;
            bottom:400px;
            right: 280px;
            margin: 78px 262px 77px 273px;
            padding-left: 50px;
            @include w100h100;
            font-family: $police;
            @include font48;
            color: $color-font2;
        
            
            
        }
        
    
        &__masque {
            background-color: $color-bg2;
            @include w100h100;
            border-radius: 25px;
            filter: brightness(1);
            
            img{
            position: relative;
            @include w100h100;
            border-radius: 25px;
            background-repeat: no-repeat;
            object-fit: cover;
            opacity: 0.75;
            }
        
        }
    
    }






}