.section2-carrousel{
    width: 100%;
    height: 255px;
    border: black 2px solid;
    border-radius: 10px;
    background-color: #E5E5E5;
    


    .chevronGauche , .chevronDroite{

        width: 5%;
        height: 5%;
        
       
    }
    
}