    .collapse, .open__collapse{
        
        position: relative;
        top: 10px;
        margin-top: 20px;
        background-color: $color-bg0;
        color: $color-font2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        cursor: pointer;
       
        
        &__title{
            
            margin: 0;
            padding: 5px 0 5px 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 142.6%;
        }

        img{
            object-fit:contain;
            width: 7%;
            padding-right: 5px;
        }
        &__text{
            
            margin: 0px;
            padding: 20px 10px 15px ;
            background-color: $color-bg1;
            width: 100%;
            border-radius: 0 0 5px 5px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 142.6%;
         
            &__list{
                list-style-type: none;
            }
        }
        
    }

/****************Desktop Version*********************/

@media screen and (min-width:992px){

    .prev__collapse{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 2%;
            
        }

        .collapse, .open__collapse, .open__collapse__text{
            width: 80%;
        }
        
    }
}