
.section2-about{

    .collapse, .open-collapse{
        margin-top: 25px;
        background-color: #ff6060;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        width: 100%;
        padding: 3px 3px 3px 5px;
        
        
        
       
        
        &-title{
            
            margin: 0;

            
        }
        &-text{
            margin: 0;
            background-color: #F6F6F6;
            width: 100%;
            height: 143.65px;
            border-radius: 0 0 5px 5px;
            
        }
        img{
                object-fit:contain;
                padding-right: 5px;
        }
    }

}