    .collapse, .open__collapse{
        
        position: relative;
        top: 10px;
        margin-top: 20px;
        background-color: $color-bg0;
        color: $color-font2;
        @include flexRSb;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        cursor: pointer;
       
        
        &__title{
            
            margin: 0;
            padding: 5px 0 5px 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 142.6%;
        }

        img{
            object-fit:contain;
            width: 6%;
            padding-right: 5px;
        }
        &__text{
            
            margin: 0px;
            padding: 20px 10px 15px ;
            background-color: $color-bg1;
            width: 100%;
            border-radius: 0 0 5px 5px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 142.6%;
            display: inline-block;
         
            ul{
                margin: 0;
                padding: 0;
            }
            &__list{
                list-style-type: none;
            }
        }
        
    }

/****************Desktop Version*********************/

@media screen and (min-width:992px){
//about collapses

    .prev__collapse{
       
        display: flex;
        justify-content: center;

        .collapse__container{
            
            width: 75%;

            .collapse, .open__collapse{
                height: 47px;
            }

            .collapse__title, .open__collapse__title{
                font-size: 24px;
                padding: 5px 0 5px 15px;
            }

            .open__collapse__text{
                padding: 26px 27px 19px 18px;
                font-size: 24px;
            }

            

            img{
                width: 3%;
                margin-right: 10px;
                
            }
        }
    }

//location collapses
    .descritpion__equipments{
    
    display: flex;
    justify-content:baseline;

    .description{
       
        width: 50%;
        
        .prev__collapse{
            
            display: flex;
            flex-direction: column;
            

            .collapse__container{
                
                width: 90%;
                
            }

            .collapse, .open__collapse {
               
                width: 100%;
                height: 52px;
                border-radius: 10px;

                
            }
            .collapse__title, .open__collapse__title{
                font-size: 18px;
                padding: 15px;
            }

            .open__collapse__text{
                width: 100%;
                height: 249px;
                @include font18w400;
                line-height: 142.6%;
                padding: 40px 12px 27px 20px;
                border-radius: 10px;
            }

            img{
                width: 5%;
            }
        } 
    }

    .equipments{
        
        width: 50%;

        .prev__collapse{
            
            @include flexColFe;
            
            .collapse__container{
                
                width: 90%;
            }

            .collapse, .open__collapse  {
                height: 52px;
                width: 100%;
                border-radius: 10px;
            }

            .collapse__title, .open__collapse__title{
                font-size: 18px;
                padding: 15px;
            }

            .open__collapse__text{
                width: 100%;
                height: 249px;
                @include font18w400;
                line-height: 142.6%;
                padding: 40px 12px 27px 20px;
                border-radius: 10px;
            }

            img{
                width: 5%;
            }

            
        }
    }
    
    
}
}