.error{
    
    width: 100%;
    @include flexColC;
    

    &__title {
        
        @include font96w700;
        margin-top: 262px;
        margin-bottom: 11px;
    }

    &__message{
        @include font18;
        line-height: 142.6%;
        margin: 11px 58px 0 57px;
        text-align: center;
        width: 90%;
        
    }

    &__link {
        margin-top: 133px;
        margin-bottom: 235px;
        @include font14w500;
        text-decoration-line: underline;
        color: $color-font1;
    }
}


/****************Desktop Version*********************/

@media screen and (min-width:768px){

    .error__title{
        font-size: 288px;
        margin-bottom: 66px;
 
    }

    .error__message{
        
        text-align: center;
        font-size: 36px;
        margin-bottom: 182px;
        width: 100%;
        
    }

    .error__link{
        font-size: 18px;
        margin-bottom: 159px;
    }
}