.footer{
    width: 100%;
    height: 209px;
    background-color: $color-bg2;
    margin-top: 25px;
    @include flexColC;
    justify-content: center;
    
        &__img{
            width: 122px;
            height: 39.44px;
            
        }
        &__copyright{
            color: $color-font2;
            text-align: center;
        }


}


