.location{
    
    //border: blue solid 4px;
    margin-top: 15px;

    &__title{
        //border: red solid 4px;
        &__tags{
            //border: green solid 4px;
            width: 50%;
        

.title{
        
        line-height: 142.6%;
        @include font18;
        margin: 0;
    }
.locationh2{
        
        @include font14w500;
        line-height: 142.6%;
        margin: 5px 0 0 0;
    }
}
}

.host{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

    &__name{
                
        @include font12w500;
        line-height: 142.6%;
        width: 25%;
        height: 33px;
        text-align: right;
        margin-right: 10.5px;
       
    }
    &__picture{
        margin: 3px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}

}

/****************Desktop Version*********************/

@media screen and (min-width:768px){
    .location{
        margin-top: 30px;
        

    &__title{
       //border: red solid 1px;
        @include flexRSb;

        


    .title{
        //h1
        
        @include font36w500;
        margin: 0;

    }
    .locationh2{
        @include font18;
        margin: 0 0 20px 0;
    }
    

    .host__rating{
        //border: blue solid 4px;
        display: flex;

        .host{
            //border: green solid 4px;
            width: 50%;
            margin-bottom: 34px;
            

            &__name{
                width: 28%;
                text-align: right;
                @include font18;
                line-height: 142.6%;
                margin: 25px;

            }
            &__picture{
                
                width: 64px;
                height: 64px;
            }
        }
    }
    }
    
}
}

    
    


