.title{
        
        line-height: 142.6%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin: 0;
    }
.location{
        
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;
        margin: 10px 0 0 0;
    }

.host{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

    &__name{
                
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 142.6%;
        width: 50%;
        text-align: right;
       
    }
    &__picture{
        margin: 3px;
        border-radius: 50%;
        width: 35%;
    }


}

/****************Desktop Version*********************/

@media screen and (min-width:992px){
    .location__title{
       
        display: flex;
        justify-content: space-between;

        


    .title{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        margin: 0;

    }
    .location{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin: 0 0 20px 0;
    }
    

    

        .host{
            
            width: 50%;
            

            &__name{
                width: 28%;
                text-align: right;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 142.6%;
                margin: 15px;

            }
            &__picture{
                
                width: 64px;
                height: 64px;
            }
        }


    
}
}

    
    


