.location{
    margin-top: 15px;
.title{
        
        line-height: 142.6%;
        @include font18;
        margin: 0;
    }
.locationh2{
        
        @include font14w500;
        line-height: 142.6%;
        margin: 5px 0 0 0;
    }

.host{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

    &__name{
                
        @include font12w500;
        line-height: 142.6%;
        width: 50%;
        text-align: right;
        margin-right: 10.5px;
       
    }
    &__picture{
        margin: 3px;
        border-radius: 50%;
        width: 35%;
    }
}

}

/****************Desktop Version*********************/

@media screen and (min-width:992px){
    .location{
        margin-top: 30px;

    &__title{
       
        @include flexRSb;

        


    .title{
        @include font36w500;
        margin: 0;

    }
    .locationh2{
        @include font18;
        margin: 0 0 20px 0;
    }
    

    

        .host{
            
            width: 50%;
            

            &__name{
                width: 28%;
                text-align: right;
                @include font18;
                line-height: 142.6%;
                margin: 10px;

            }
            &__picture{
                
                width: 64px;
                height: 64px;
            }
        }

    }
    
}
}

    
    


