.nav{
    display: flex;
    align-items:center;
    justify-content: end;
    width: 50%;
    
    
    &__link-accueil,&__link-apropos{
        font-family: $police;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 142.6%;
        /* or 17px */
        margin: 5px;
        text-decoration: none;
        color: $color-font1;

        &:hover{
            text-decoration: underline;
        }
    }
}

