.nav{
    display: flex;
    align-items:center;
    justify-content: end;
    width: 50%;
    
    
    &__link-accueil{
        font-family: $police;
        @include font12w500;
        line-height: 142.6%;
        /* or 17px */
        margin: 5px;
        text-decoration: none;
        color: $color-font1;
        text-transform: uppercase;
        

        &:hover{
            text-decoration: underline;
        }
    }
    &__link-apropos{
        font-family: $police;
        @include font12w500;
        line-height: 142.6%;
        /* or 17px */
        margin: 5px;
        text-decoration: none;
        color: $color-font1;
        text-transform: uppercase;
        

        &:hover{
            text-decoration: underline;
        }
    }
}

/****************DESKTOP VERSION************************/

@media screen and (min-width: 992px){

    .nav{
        
        @include flexCC;
        width: 309px;
        
        
        
        &__link-accueil{
            font-family: $police;
            @include font24w500;
            line-height: 142.6%;
            margin: 19px;
            text-decoration: none;
            color: $color-font1;
            text-transform: none;
            
            &:hover{
                text-decoration: underline;
            }
        }

        &__link-apropos{
            font-family: $police;
            @include font24w500;
            line-height: 142.6%;
            margin: 19px;
            text-decoration: none;
            color: $color-font1;
            text-transform: none;

           &:hover{
                text-decoration: underline;
            } 
        }
    }







}