
.host__rating{
    
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    

    .rating{

       
        width: 50%;
    }
    
    
    .star{
    
    width: 15px;
    height: 15px;

}
}

/****************Desktop Version*********************/

@media screen and (min-width:768px){
.host__rating{
    
    width: 40%;
    @include flexColFe;


    .rating{
        
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        
        .star{
            width: 30px;
            height: 30px;
        }
    }
    


}
}