
    
    .tags-container{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: center;
        width: 100%;
        

        
        


        &-object{
            
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-bg0;
            margin: 10px 10px 0 0;
            padding: 5px 0px 5px 0px;
            border-radius: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            //line-height: 142.6%;
            /* or 14px */
            text-align:center;
            color: $color-font2;
            width: 84px;
            height: 25px;
        }
    }



