* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$police : "Montserrat", "sans-serif";
$color-font1 : #FF6060;
$color-font2 : #FFFFFF;
$color-bg1: #E5E5E5;
$color-bg2: #F7F7F7;
$color-bg3: #000000;
$color-bg-circle:#C4C4C4;
$color-bg-empty-star: #E3E3E3;

body {
    
    color: $color-font1;
    font-family: $police;
    margin: 0;
    padding: 0;
    
}




