* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$police : "Montserrat", "sans-serif";

$color-font1 :#FF6060;
$color-font2 : #FFFFFF;

$color-bg0: #FF6060;
$color-bg1: #F6F6F6;
$color-bg3: #000000;


body {
    
    color: $color-font1;
    font-family: $police;
    margin: 0;
    padding: 0;
    
}

/****************Desktop Version*********************/

@media screen and (min-width:992px){
    
    body{

        max-width: 1440px;
        max-height: 1024px;
    }



}




